:root {
    --yellow: #fceb53;
    --lightYellow: #fff8d5;
    --black: #000000;
    --blue: #4B4B9A;
    --contentWidth: 1140px;
}

body {
    font-family: neue-haas-grotesk-text, sans-serif;
    font-size: 16px;
}

h1, h2, h3, h4, h5 {
    font-family: commuters-sans, sans-serif;
    font-weight: bold;
    margin-bottom: 0.5em;
    margin-top: 0.75em;
}

h1 {
    font-size: 4.5em;
}

h2 {
    font-size: 3em;
}

h3 {
    font-size: 2.25em;
}

h4 {
    font-size: 1.5em;
}

h5 {
    font-size: 1.125em;
}

p {
    line-height: 1.5em;
}

hr {
    border-color: var(--black);
    border-style: solid;
    /* border-image-source: url('../img/dots.svg');
    border-image-slice: 33%;
    border-image-repeat: round;
    border-width: 32px 0 0 0; */
      border-image: url("../img/dots_border.svg")
    100% 0%;
  border-width: 16px 0 0 0;
  border-image-repeat: round;
  border-style: solid;
}

a {
    background: linear-gradient(0deg, #434389 100%, transparent 0%);
    background-position-y: bottom;
    background-repeat: no-repeat;
    background-size: auto 12%;
    color: #434389;
    font-weight: bold;
    padding: 4px;
    position: relative;
    text-decoration: none;
}

a:hover {
    background-size: auto 100%;
    color: #fff;
    transition: background-size 0.2s cubic-bezier(0.075, 0.82, 0.165, 1), color 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

button,
a.button {
    background: none;
    display: inline-block;
    height: 100%;
    margin: 8px;
    padding: 0;
    position: relative;
    text-decoration: none;
}

button span,
a.button span {
    align-items: center;
    border: 3px solid var(--black);
    border-radius: 40px;
    color: var(--black);
    display: inline-flex;
    font-family: space-mono, mono;
    font-size: 0.9em;
    font-weight: bold;
    height: 40px;
    padding: 0 24px;
    transition: transform 0.1s cubic-bezier(0.075, 0.82, 0.165, 1);
    z-index: 2;
} 

button:hover,
a.button:hover,
button:focus,
a.button:focus {
    transform: scale(1.025) translate(-2px, -2px);
}

button::after,
a.button::after {
    background-color: var(--yellow);
    border-radius: 40px;
    bottom: -8px;
    content: " ";
    left: 6px;
    margin: 3px;
    position: absolute;
    right: -6px;
    top: 8px;
    transition: transform 0.1s linear;
    z-index: -2;
}

button:hover::after,
a.button:hover::after,
button:focus::after,
a.button:focus::after {
    transform: scale(0.95) translate(4px, 4px);
}

a.button.button-simple::after,
button.button-simple::after {
    background-color: #E3DFBE;
}

a.anchor-logo {
    background: none;
    border: 3px solid transparent;
}

.grid-lg {
    display: grid;
    grid-column-gap: 24px;
    grid-template-columns: repeat(12, 1fr);
    margin: 0 auto;
    max-width: var(--contentWidth);
    padding: 0 24px;
}

@media only screen and (max-width: 840px) {
    .grid-lg {
        grid-column-gap: 24px;
        grid-template-columns: repeat(8, 1fr);
        padding: 0 24px;
    }
}

@media only screen and (max-width: 720px) {
    .grid-lg {
        grid-column-gap: 16px;
        grid-template-columns: repeat(8, 1fr);
        padding: 0 16px;
    }
}
@media only screen and (max-width: 600px) {
    .grid-lg {
        grid-column-gap: 16px;
        grid-template-columns: repeat(4, 1fr);
    }
}

.grid-sm {
    display: grid;
    grid-column-gap: 24px;
    grid-template-columns: repeat(8, 1fr);
    margin: 0 auto;
    padding: 0 24px;
}

@media only screen and (max-width: 720px) {
    .grid-sm {
        grid-column-gap: 16px;
        padding: 0 16px;
    }
}
@media only screen and (max-width: 600px) {
    .grid-sm {
        grid-template-columns: repeat(4, 1fr);
    }
}

/* Header */
header {
    border-bottom: 3px solid var(--black);
    grid-column: 1 / span 12;
    margin-top: 24px;
}

@media only screen and (max-width: 840px) {
    header {
        grid-column: 1 / span 8;
    }
    .header-flex-container {
        flex-direction: column;
    }
}

@media only screen and (max-width: 600px) {
    header {
        grid-column: 1 / span 4;
    }
}

.header-flex-container {
    align-items: center;
    display: flex;
}

.header-flex-item {
    display: flex;
    flex: 1;
    justify-content: center;
}

.header-flex-item:first-child {
    justify-content: flex-start;
}

.header-flex-item:last-child {
    justify-content: flex-end;
}

.header-site-desccription {
    font-size: 0.90em;
    font-weight: bold;
    text-align: center;
}

/* Nav */
nav.main-nav {
    grid-column: 1 / span 4;
}

@media only screen and (max-width: 840px) {
    nav.main-nav {
        grid-column: 1 / span 8;
    }
}

@media only screen and (max-width: 600px) {
    nav.main-nav {
        grid-column: 1 / span 4;
    }
}

/* Main */
main {
    grid-column: 5 / span 8;
}

@media only screen and (max-width: 840px) {
    main {
        grid-column: 1 / span 8;
    }
}

@media only screen and (max-width: 600px) {
    main {
        grid-column: 1 / span 4;
    }
}

/* Info bar */
.info-bar {
    background-color: var(--black);
    color: #ffffff;
    height: 50px;
}

.info-bar-content {
    align-items: center;
    display: flex;
    height: 100%;
    margin: 0 auto;
    max-width: var(--contentWidth);
    padding: 0 24px;
}

.info-bar-content a {
    color: #ffffff;
}

@media only screen and (max-width: 720px) {
    .info-bar-content {
        padding: 0 16px;
    }
}

/* Sections */
section {
    margin: 32px 0;
}

section.intro.home-intro p {
    font-size: 1.25em;
}

img.intro-image {
    border: 3px solid var(--black);;
    box-sizing: border-box;
    width: 100%;
}

.grid-section-heading {
    grid-column: 1 / span 8;
}

@media only screen and (max-width: 600px) {
    .grid-section-heading {
        grid-column: 1 / span 4;
    }
}

.services-grid-anchor-blocks:hover > a.section-grid-anchor-block {
    opacity: 0.5;
    transition: opacity 0.1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.services-grid-anchor-blocks > a.section-grid-anchor-block:hover {
    opacity: 1;
   
}

a.section-grid-anchor-block {
    background: none;
    border: 3px solid transparent;
    color: var(--black);
    display: flex;
    grid-column: auto / span 4;
    justify-content: stretch;
    text-decoration: none;
}

a.section-grid-anchor-block p {
    font-weight: normal;
}

a.section-grid-anchor-block span.service-icon {
    align-items: center;
    display: flex;
    font-size: 2.75em;
    margin-right: 24px;
    position: relative;
}

a.section-grid-anchor-block span.service-icon::after {
    color: var(--yellow);
    font-family: 'Material Icons';
    left: 4px;
    position: absolute;
    top: calc(50% + 4px);
    transform: translateY(-50%);
    z-index: -1;
}

a.section-grid-anchor-block span.service-icon.code-icon::after {
    content: "code";
}

a.section-grid-anchor-block span.service-icon.accessibility_new-icon::after {
    content: "accessibility_new";
}

a.section-grid-anchor-block span.service-icon.design_services-icon::after {
    content: "design_services";
}

a.section-grid-anchor-block span.service-icon.create-icon::after {
    content: "create";
}

h3.section-grid-anchor-block-heading {
    align-items: center;
    font-family: space-mono, mono;
    display: flex;
    font-size: 18px;
    font-weight: bold;
}

h3.section-grid-anchor-block-heading .anchor-block-heading-text {
    line-height: 1.25em;
}

h3.section-grid-anchor-block-heading span.inner-link-icon {
    margin-left: auto;
}

a.section-grid-anchor-block:hover h3.section-grid-anchor-block-heading span.inner-link-icon,
a.section-grid-anchor-block:focus h3.section-grid-anchor-block-heading span.inner-link-icon {
    animation: inner-link-block-animation 1s infinite;
}

@keyframes inner-link-block-animation {
    0% {transform: translateX(0);}
    50% {transform: translateX(8px);}
    100% {transform: translateX(0);}
}

section.services {
    border: 3px solid var(--black);
}

h2.services-heading {
    border-bottom: 3px solid var(--black);
    font-weight: bold;
    font-size: 1.5em;
    margin: 0 24px;
    padding: 24px 0;
    text-align: center;
    text-transform: uppercase;
}

.services-grid-anchor-blocks {
    padding: 24px 48px;
}

section.contact {
    border: 3px solid var(--black);
    margin-top: 64px;
    padding: 24px 48px;
    padding-bottom: 40px;
    position: relative;
    text-align: center;
}

section.contact::after {
    background-color: var(--lightYellow);
    background: repeating-linear-gradient(
    -45deg,
    var(--lightYellow),
    var(--lightYellow) 10px,
    rgba(0, 0, 0, 1) 12px,
    rgba(0, 0, 0, 1) 12px
    );
    bottom: 0;
    content: " ";
    left: 0;
    opacity: 0.1;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -5;
}

section.contact::before {
    background-color: var(--lightYellow);
    bottom: -12px;
    content: " ";
    left: -12px;
    position: absolute;
    right: -12px;
    top: -12px;
    z-index: -10;
}

.contact-image-container {
    background-size: cover;
    height: 164px;
    margin: 0 auto;
    margin-top: -64px;
    margin-bottom: -12px;
    position: relative;
    width: 164px;
    z-index: 3;
}

.contact-image-container::after {
    background-color: #ffffff;
    bottom: -9.5px;
    border-radius: 100%;
    content: " ";
    left: -9.5px;
    position: absolute;
    right: -9.5px;
    top: -9.5px;
    z-index: -1;
}

img.contact-image {
    border-radius: 100%;
    height: 100%;
    border: 3px solid var(--black);
    box-sizing: border-box;
    overflow: hidden;
    width: 100%;
}

/* Footer */
footer {
    background-color: var(--yellow);
    border-top: 3px solid var(--black);
}

footer .footer-content {
    margin: 0 auto;
    max-width: var(--contentWidth);
    max-width: 680px;
    padding: 48px 24px;
    text-align: center;
}

@media only screen and (max-width: 720px) {
    footer .footer-content {
        padding: 24px 16px;
    }
}

a.footer-link {
    background: none;
    color: var(--black);
    display: inline-block;
    font-family: space-mono, mono;
    margin: 16px 32px;
    position: relative;
    transition: color 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    z-index: 10;

}

a.footer-link::after {
    background: linear-gradient(0deg, var(--black) 100%, transparent 0%);
    background-position-y: bottom;
    background-repeat: no-repeat;
    background-size: 100% 50%;
    bottom: 0;
    content: " ";
    left: 0;
    opacity: 0.3;
    position: absolute;
    right: 0;
    top: 0;
    transform: translateX(6%);
    transition: background-size 0.3s cubic-bezier(0.075, 0.82, 0.165, 1), opacity 0.3s cubic-bezier(0.075, 0.82, 0.165, 1), transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    z-index: -1;
}

a.footer-link:hover {
    color: #ffffff;
}

a.footer-link:hover::after {
    background-size: 100% 100%;
    opacity: 0.87;
    transform: translateX(0);
}

/* SVG Logo */
svg#site-logo-svg {
    height: 240px;
}

.st0{fill:none;}
.st1{display:inline;}
.st2{display:inline;fill:#1D1D1B;}
.st3{display:inline;}
.st4{fill:#1D1D1B;}
.st5{display:inline;fill:#EDEDED;}
.st6{display:inline;fill:#FFFFFF;}
.st7{display:inline;fill:#BE4B95;}
.st8{display:inline;fill:#4B4B9A;}
.st9{display:inline;fill:#5CB463;}
.st10{display:inline;fill:#FEED53;}
.st11{display:inline;fill:#F0A66B;}
.st12{display:inline;fill:#E7646F;}

.part-1,
.part-2,
.part-3,
.part-4 {
    transform-origin: center;
}

a#site-logo-anchor:hover .part-1,
a#site-logo-anchor:focus .part-1 {
    animation: scale-4 0.2s;
    animation-fill-mode: forwards;
    animation-delay: 0.12s;
}

a#site-logo-anchor:hover .part-2,
a#site-logo-anchor:focus .part-2 {
    animation: scale-4 0.2s;
    animation-fill-mode: forwards;
    animation-delay: 0.08s;
}

a#site-logo-anchor:hover .part-3,
a#site-logo-anchor:focus .part-3 {
    animation: scale-4 0.2s;
    animation-fill-mode: forwards;
    animation-delay: 0.04s;
}

a#site-logo-anchor:hover .part-4,
a#site-logo-anchor:focus .part-4 {
    animation: scale-4 0.2s;
    animation-fill-mode: forwards;
}

@keyframes scale-4 {
    0% {transform: scale(1);}
    100% {transform: scale(1.075);}
}