:root {
    --yellow: #fceb53;
    --lightYellow: #fff8d5;
    --black: #000000;
    --blue: #4B4B9A;
    --contentWidth: 1024px;
}

body {
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-size: 16px;
}

h1, h2, h3, h4, h5 {
    font-weight: bold;
    margin-bottom: 0.5em;
    margin-top: 0.75em;
}

h1 {
    font-size: 4.5em;
}

h2 {
    font-size: 3em;
}

h3 {
    font-size: 2.25em;
}

h4 {
    font-size: 1.5em;
}

h5 {
    font-size: 1.125em;
}

p {
    line-height: 1.5em;
}

button,
a.button {
    align-items: center;
    border-radius: 40px;
    color: var(--black);
    display: inline-flex;
    font-size: 0.9em;
    font-weight: bold;
    height: 40px;
    margin: 8px;
    outline: 3px solid var(--black);
    padding: 0 24px;
    position: relative;
    text-decoration: none;
    transition: transform 0.1s linear;
    z-index: 2;
} 

button::after,
a.button::after {
    background-color: var(--yellow);
    border-radius: 40px;
    bottom: -8px;
    content: " ";
    height: 40px;
    left: 6px;
    position: absolute;
    right: -6px;
    top: 8px;
    transition: transform 0.1s linear;
    z-index: -1;
}

a.button.button-simple::after,
button.button-simple::after {
    background-color: transparent;
}

button::before,
a.button::before {
    bottom: -10px;
    content: " ";
    left: -10px;
    position: absolute;
    right: -10px;
    top: -10px;
}

button:hover,
a.button:hover,
button:focus,
a.button:focus {
    transform: scale(1.025) translate(-2px, -2px);
}

button:focus::before,
a.button:focus::before {
    border: 3px solid var(--blue);
}

button:hover::after,
a.button:hover::after,
button:focus::after,
a.button:focus::after {
    transform: scale(0.95) translate(4px, 4px);
}

a.anchor-logo {
    border: 3px solid transparent;
}

a.anchor-logo:focus {
    border: 3px solid var(--blue);
}

.grid-lg {
    display: grid;
    grid-column-gap: 24px;
    grid-template-columns: repeat(12, 1fr);
    margin: 0 auto;
    max-width: var(--contentWidth);
    padding: 0 24px;
}

@media only screen and (max-width: 840px) {
    .grid-lg {
        grid-column-gap: 24px;
        grid-template-columns: repeat(8, 1fr);
        padding: 0 24px;
    }
}

@media only screen and (max-width: 720px) {
    .grid-lg {
        grid-column-gap: 16px;
        grid-template-columns: repeat(8, 1fr);
        padding: 0 16px;
    }
}
@media only screen and (max-width: 600px) {
    .grid-lg {
        grid-column-gap: 16px;
        grid-template-columns: repeat(4, 1fr);
    }
}

.grid-sm {
    display: grid;
    grid-column-gap: 24px;
    grid-template-columns: repeat(8, 1fr);
    margin: 0 auto;
    padding: 0 24px;
}

@media only screen and (max-width: 720px) {
    .grid-sm {
        grid-column-gap: 16px;
        padding: 0 16px;
    }
}
@media only screen and (max-width: 600px) {
    .grid-sm {
        grid-template-columns: repeat(4, 1fr);
    }
}

/* Header */
header {
    align-items: center;
    border-bottom: 3px solid var(--black);
    display: flex;
    grid-column: 1 / span 12;
    justify-content: space-between;
}

@media only screen and (max-width: 840px) {
    header {
        grid-column: 1 / span 8;
    }
}

@media only screen and (max-width: 600px) {
    header {
        grid-column: 1 / span 4;
    }
}

/* Nav */
nav.main-nav {
    grid-column: 1 / span 4;
}

@media only screen and (max-width: 840px) {
    nav.main-nav {
        grid-column: 8 / span 8;
    }
}

@media only screen and (max-width: 600px) {
    nav.main-nav {
        grid-column: 4 / span 4;
    }
}

/* Main */
main {
    grid-column: 5 / span 8;
}

@media only screen and (max-width: 840px) {
    main {
        grid-column: 1 / span 8;
    }
}

@media only screen and (max-width: 600px) {
    main {
        grid-column: 1 / span 4;
    }
}

/* Info bar */
.info-bar {
    background-color: var(--black);
    color: #ffffff;
    height: 50px;
}

.info-bar-content {
    align-items: center;
    display: flex;
    height: 100%;
    margin: 0 auto;
    max-width: var(--contentWidth);
    padding: 0 24px;
}

.info-bar-content a {
    color: #ffffff;
}

@media only screen and (max-width: 720px) {
    .info-bar-content {
        padding: 0 16px;
    }
}

/* Sections */
section {
    margin: 24px 0;
}

.grid-section-heading {
    grid-column: 1 / span 8;
}

@media only screen and (max-width: 600px) {
    .grid-section-heading {
        grid-column: 1 / span 4;
    }
}

.services-grid-anchor-blocks:hover > a.section-grid-anchor-block {
    opacity: 0.5;
    transition: opacity 0.1s linear;
}

.services-grid-anchor-blocks > a.section-grid-anchor-block:hover {
    opacity: 1;
   
}

a.section-grid-anchor-block {
    border: 3px solid transparent;
    color: var(--black);
    grid-column: auto / span 4;
    text-decoration: none;
}

h3.section-grid-anchor-block-heading {
    font-size: 18px;
    font-weight: bold;
}

a.section-grid-anchor-block:focus {
    border: 3px solid var(--blue);
}

section.services {
    border: 3px solid var(--black);
}

h2.services-heading {
    border-bottom: 3px solid var(--black);
    font-size: 1.5em;
    margin: 0 24px;
    padding: 24px 0;
    text-align: center;
    text-transform: uppercase;
}

.services-grid-anchor-blocks {
    padding: 24px 48px;
}

section.contact {
    background-color: var(--lightYellow);
    border: 3px solid var(--black);
    padding: 24px;
}

/* Footer */
footer {
    background-color: var(--yellow);
    border-top: 3px solid var(--black);
}

footer .footer-content {
    margin: 0 auto;
    max-width: var(--contentWidth);
    padding: 0 24px;
}

@media only screen and (max-width: 720px) {
    footer .footer-content {
        padding: 0 16px;
    }
}